
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --warna-utama: #2c3e50;
  --warna-kedua: #3498db;
  --warna-terang: #ecf0f1;
  --warna-aksen: #1abc9c;
  --warna-putih: #ffffff;

  --font-utama: Arial, sans-serif;
}

body {
  font-family: var(--font-utama);
  background-color: var(--warna-terang);
}

.Judul {
  background: linear-gradient(to right, #2c3e50, #3498db);
  color: var(--warna-putih);
  text-align: center;
  padding: 20px;
}

.isi {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: var(--warna-utama);
  padding: 10px;

  position: sticky;
  top: 0;
}

.isi a {
  color: var(--warna-putih);
  text-decoration: none;
}

.isi a:hover {
  color: var(--warna-aksen);
}

section {
  padding: 20px;
}
#Tentang\ Saya {
  display: flex;
  align-items: center;
  gap: 20px;
}

#Tentang\ Saya img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#Tentang\ Saya ol {
  flex: 1;
}

#Keahlian ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#Keahlian li {
  background-color: var(--warna-kedua);
  color: var(--warna-putih);
  padding: 5px 10px;
  border-radius: 10px;
}

#Kontak div {
  margin-bottom: 10px;
}

#Kontak label {
  display: block;
  margin-bottom: 5px;
}

#Kontak input,
#Kontak select,
#Kontak textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

#Kontak button {
  background-color: var(--warna-kedua);
  color: var(--warna-putih);
  padding: 10px;
  border: none;
  cursor: pointer;
}

#Kontak button:hover {
  background-color: var(--warna-aksen);
}


footer {
  background-color: var(--warna-utama);
  color: var(--warna-putih);
  text-align: center;
  padding: 15px;
}

footer a {
  color: var(--warna-aksen);
  text-decoration: underline;
}